
body{
    max-width: 90%;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Open Sans', sans-serif;
    background-color: gold;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
}
header > h1{
    background-color: gold;
}
p {
    font-family: "Times New Roman", Times, serif;
    font-size: larger;
    color: #000066;
}
body > p:first-child{
    font-weight: bold;
}
q{
    font-style: italic;
}
a{
    background-color: lightcyan;
    text-decoration: none;
    font-weight: bold;
}

a:visited{
    color: darkmagenta;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;
}
.villagers{
    color: red;
}
.farmer{
    color: green;
}
.good{
    color: green;
}
.bad{
    color: red;
}
.grey{
    background-color: dimgrey;
}
.white{
    background-color: white;
}
em{
    text-transform: uppercase;
}
img{
    width: 40%;
    float: right;
    margin-left: 100px;
    margin-bottom: 50px;
}


